@use './_colors.scss' as *;

/* -------------------------------------------------------------------------- */
/*                                    fonts                                   */
/* -------------------------------------------------------------------------- */

$aktiv-grotesk-bold: ' Aktiv-Grotesk-Bold';
$aktiv-grotesk-light: ' Aktiv-Grotesk-light';
$aktiv-grotesk-medium: ' Aktiv-Grotesk-Medium';
$aktiv-grotesk-regular: ' Aktiv-Grotesk-regular';
$font-family-charter: Charter;
$font-style-normal: normal;
$font-weight-normal: normal;
$font-size-16: 1rem;
$font-size-22: 1.5rem;
$character-spacing-0: 0px;
$line-spacing-28: 2rem;

@font-face {
	font-family: $aktiv-grotesk-bold;
	src: url('../fonts/AktivGroteskCorp-Bold.ttf');
	font-stretch: 1% 500%;
}
@font-face {
	font-family: $aktiv-grotesk-light;
	src: url('../fonts/AktivGroteskCorp-Light.ttf');
	font-stretch: 1% 500%;
}
@font-face {
	font-family: $aktiv-grotesk-medium;
	src: url('../fonts/AktivGroteskCorp-Medium.ttf');
	font-stretch: 1% 500%;
}
@font-face {
	font-family: $aktiv-grotesk-regular;
	src: url('../fonts/AktivGroteskCorp-Regular.ttf');
	font-stretch: 1% 500%;
}

/* Character Styles */
.fonte-creditos {
	font-family: $aktiv-grotesk-bold;
	font-style: $font-style-normal;
	font-weight: $font-weight-normal;
	font-size: $font-size-16;
	line-height: $line-spacing-28;
	letter-spacing: $character-spacing-0;
	color: $black;
}
.fonte-texto-artigos {
	font-family: $font-family-charter;
	font-style: $font-style-normal;
	font-weight: $font-weight-normal;
	font-size: $font-size-22;
	line-height: $line-spacing-28;
	letter-spacing: $character-spacing-0;
	color: $black;
}
