@use './_colors.scss' as *;

/* -------------------------------------------------------------------------- */
/*                                    fonts                                   */
/* -------------------------------------------------------------------------- */

$aktiv-grotesk-bold: ' Aktiv-Grotesk-Bold';
$aktiv-grotesk-light: ' Aktiv-Grotesk-light';
$aktiv-grotesk-medium: ' Aktiv-Grotesk-Medium';
$aktiv-grotesk-regular: ' Aktiv-Grotesk-regular';
$aktiv-grotesk-black: ' Aktiv-Grotesk-black';
$aktiv-grotesk-bolditalic: ' Aktiv-Grotesk-bolditalic';
$aktiv-grotesk-hair: ' Aktiv-Grotesk-hair';
$aktiv-grotesk-italic: ' Aktiv-Grotesk-italic';
$aktiv-grotesk-mediumitalic: ' Aktiv-Grotesk-mediumitalic';
$aktiv-grotesk-thin: ' Aktiv-Grotesk-thin';
$aktiv-grotesk-xbold: ' Aktiv-Grotesk-xbold';
$aktiv-grotesk-xbolditalic: ' Aktiv-Grotesk-xbolditalic';

$font-family-charter: Charter;
$font-style-normal: normal;
$font-weight-normal: normal;
$font-size-16: 1rem;
$font-size-22: 1.5rem;
$character-spacing-0: 0px;
$line-spacing-28: 2rem;

@font-face {
	font-family: $aktiv-grotesk-bold;
	src: url('../fonts/AktivGrotesk/bold.otf');
	font-stretch: 1% 500%;
}
@font-face {
	font-family: $aktiv-grotesk-light;
	src: url('../fonts/AktivGrotesk/light.otf');
	font-stretch: 1% 500%;
}
@font-face {
	font-family: $aktiv-grotesk-medium;
	src: url('../fonts/AktivGrotesk/medium.otf');
	font-stretch: 1% 500%;
}
@font-face {
	font-family: $aktiv-grotesk-regular;
	src: url('../fonts/AktivGrotesk/regular.otf');
	font-stretch: 1% 500%;
}
@font-face {
	font-family: $aktiv-grotesk-black;
	src: url('../fonts/AktivGrotesk/black.otf');
	font-stretch: 1% 500%;
}

/* Character Styles */
.fonte-creditos {
	font-family: $aktiv-grotesk-bold;
	font-style: $font-style-normal;
	font-weight: $font-weight-normal;
	font-size: $font-size-16;
	line-height: $line-spacing-28;
	letter-spacing: $character-spacing-0;
	color: $black;
}
.fonte-texto-artigos {
	font-family: $font-family-charter;
	font-style: $font-style-normal;
	font-weight: $font-weight-normal;
	font-size: $font-size-22;
	line-height: $line-spacing-28;
	letter-spacing: $character-spacing-0;
	color: $black;
}
