---
import Bases from '../Layout/Layout.astro'
---

<Bases>
    
    
    <div class="content-black">
                <div class="top content-black">
                    
                    <div class="page">
                        <div class="term-title font-bold">About us</div>
                        <img src="/assets/policy/Line Breaker white.svg" alt="" />
                        <div class="page-detail">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                            no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                            voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                            dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                            justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                            takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                            sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna
                            aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                            sanctus est Lorem ipsum dolor sit amet.
                        </div>
                        <img src="/assets/policy/Line Breaker white.svg" alt="" />
                    </div>
                    <div class="term-title font-bold">Team</div>
                    <div class="team-list">
                        <div class="team-member">
                            <div class="img"><img src="/assets/about/andre.png" alt="" /></div>
                            <div class="nome">André Costa</div>
                            <div class="titulo">Co-Founder</div>
                        </div>
                        <div class="team-member">
                            <div class="img">
                                <img src="/assets/about/Hugo Cardoso.png" alt="" />
                            </div>
                            <div class="nome">Hugo Cardoso</div>
                            <div class="titulo">Lorem, ipsum.</div>
                        </div>
                        <div class="team-member">
                            <div class="img">
                                <img src="/assets/about/miguelruas.png" alt="" />
                            </div>
                            <div class="nome">Miguel Ruas</div>
                            <div class="titulo">titulo</div>
                        </div>
                        <div class="team-member">
                            <div class="img">
                                <img src="/assets/about/Guilherme.png" alt="" />
                            </div>
                            <div class="nome">Guilherme Torres</div>
                            <div class="titulo">titulo</div>
                        </div>
                    </div>
                
                </div>
            </div>
</Bases>
