---
import Bases from '../Layout/Layout.astro'
---

<Bases>
    
    
    <div class="content-black">
                <div class="top content-black">
                    
                    <div class="page">
                        <div class="term-title font-bold">About us</div>
                        <img src="/assets/policy/Line Breaker white.svg" alt="" />
                        <div class="page-detail">
                           <b>Hoopers - Manifesto:</b><br /><br/>

Changing the game!<br/><br/>

Our roots belong to the streets. Our vision is to turn the world into a huge playground by building and connecting the basketball community.
<br/><br/>

As former players and basketball enthusiasts we care about the game, because we love it. We care about the community, because we are part of it. And over the years we have been observing there were several untackled issues and challenges.
<br/><br/>

Most of the street basketball courts are poorly maintained and damaged. How can we attract more people to play basketball informally on the streets? Finding a basketball court to play on is a difficult task unless it is located in your neighborhood or you have been a regular presence ever since. But the world is a global place, so what happens when you travel? Or when you move to a new city, or even country? 
<br/><br/>

What about scheduling a pick-up game with your friends? How many groups and platforms do you need to manage at the same time to play a simple 3x3 or a 5x5 game? 
<br/><br/>

And what about the contents and products you have been consuming lately? Always provided by the same companies without too much differentiation? Do you miss some authentic and human based content? Or don’t understand why your opinion can’t be listened to and your desired products can’t be made?
<br/><br/>

The Hoopers platform is open for the community: find courts, schedule pick-up games, become a contributor and share your authentic stories, build and sell your products. And more! 
<br/><br/>

We are building a platform where you can have a voice and feel part of it.
<br/><br/>

From the streets to the world: we’re changing the game. 
<br/><br/>

Join the revolution!
<br/><br/>

- Hoopers Team

                        </div>
                        <img src="/assets/policy/Line Breaker white.svg" alt="" />
                    </div>
                    <!--
                    <div class="term-title font-bold">Team</div>
                    <div class="team-list">
                        <div class="team-member">
                            <div class="img"><img src="/assets/about/andre.png" alt="" /></div> 
                            <div class="nome">André Costa</div>
                            <div class="titulo">Founder, CEO</div>
                        </div>
                        <div class="team-member">
                            <div class="img">
                                <img src="/assets/about/Hugo Cardoso.png" alt="" />
                            </div>
                            <div class="nome">Hugo Cardoso</div>
                            <div class="titulo">Products</div>
                        </div>
                        <div class="team-member">
                            <div class="img">
                                <img src="/assets/about/miguelruas.png" alt="" />
                            </div>
                            <div class="nome">Miguel Ruas</div>
                            <div class="titulo">MKT / Social Media</div>
                        </div>
                        <div class="team-member">
                            <div class="img">
                                <img src="/assets/about/Guilherme.png" alt="" />
                            </div>
                            <div class="nome">Guilherme Torres</div>
                            <div class="titulo">Graphic Designer, Content Producer</div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
</Bases>
