---
import Bases from '../Layout/Layout.astro'
---

<Bases>
    
    
    <div class="content-black">
                <div class="top content-black">
                    
                    <div class="page">
                        <div class="term-title font-bold">About us</div>
                        <img src="/assets/policy/Line Breaker white.svg" alt="" />
                        <div class="page-detail">
                           GLOBAL BASKETBALL COMMUNITY PLATFORM<br />

Hoopers aims to build the largest global basketball community platform to connect players, fans and enthusiasts. <br/>

Our team is committed to excellence and highly passionate about sports, urban art and hip-hop.<br/>

We believe in the power of our community to change the game!<br/>
                        </div>
                        <img src="/assets/policy/Line Breaker white.svg" alt="" />
                    </div>
                    <div class="term-title font-bold">Team</div>
                    <div class="team-list">
                        <div class="team-member">
                            <!-- <div class="img"><img src="/assets/about/andre.png" alt="" /></div> -->
                            <div class="nome">André Costa</div>
                            <div class="titulo">Founder, CEO</div>
                        </div>
                        <div class="team-member">
                            <!-- <div class="img">
                                <img src="/assets/about/Hugo Cardoso.png" alt="" />
                            </div> -->
                            <div class="nome">Hugo Cardoso</div>
                            <div class="titulo">Products</div>
                        </div>
                        <div class="team-member">
                            <!-- <div class="img">
                                <img src="/assets/about/miguelruas.png" alt="" />
                            </div> -->
                            <div class="nome">Miguel Ruas</div>
                            <div class="titulo">MKT / Social Media</div>
                        </div>
                        <div class="team-member">
                            <!-- <div class="img">
                                <img src="/assets/about/Guilherme.png" alt="" />
                            </div> -->
                            <div class="nome">Guilherme Torres</div>
                            <div class="titulo">Graphic Designer, Content Producer</div>
                        </div>
                    </div>
                
                </div>
            </div>
</Bases>
