---
import Bases from '../Layout/Layout.astro'
---

<Bases>
		
        
        <div class="container">
			<div
				class="top"
				style="
					background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
						url('./assets/Homepage/hero main.svg');
				"
			>
				
				<div class="headline quotes">CARA OU COROA</div>
				<div class="sub-headline">
					THE NEW ICONIC LISBON COURT BY EDIS AND PARIZ
				</div>

				
			</div>
		</div>
        <section class="articles white">
			<div class="articles-featured">
				<div class="featured">articles</div>
				<img
					class="featured-line"
					src="./assets/Homepage/section line.svg"
					alt="line"
				/>
			</div>
			<div class="articles-list">
				<div class="articles-item">
					<div class="title">The train only passes once</div>
					<div class="by">by sara guerreiro</div>
				</div>
				<div class="articles-item">
					<div class="title"></div>
					<div class="by"></div>
				</div>
				<div class="articles-item">
					<div class="title"></div>
					<div class="by"></div>
				</div>
			</div>
		</section>
		<section class="articles white">
			<div class="articles-featured">
				<div class="featured">all articles</div>
				<img
					class="featured-line"
					src="./assets/Homepage/section line.svg"
					alt="line"
				/>
			</div>
			<div class="articles-list-all">
				<div class="article-item">
					<div class="img">image</div>
					<div class="article-title">article title</div>
					<div class="article-writer">article writer</div>
				</div>
				<div class="article-item">
					<div class="img">image</div>
					<div class="article-title">article title</div>
					<div class="article-writer">article writer</div>
				</div>
				<div class="article-item">
					<div class="img">image</div>
					<div class="article-title">article title</div>
					<div class="article-writer">article writer</div>
				</div>
				<div class="article-item">
					<div class="img">image</div>
					<div class="article-title">article title</div>
					<div class="article-writer">article writer</div>
				</div>
				<div class="article-item">
					<div class="img">image</div>
					<div class="article-title">article title</div>
					<div class="article-writer">article writer</div>
				</div>
				<div class="article-item">
					<div class="img">image</div>
					<div class="article-title">article title</div>
					<div class="article-writer">article writer</div>
				</div>
			</div>
			<div class="buttons-black centered">show more</div>
		</section>

        </Bases>