---
import Bases from '../Layout/Layout.astro'

let allPosts = Astro.fetchContent('./posts/articles/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));

---

<Bases>
		
        
        <div class="container">
			<div
				class="top"
				style="
					background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
						url('/assets/Homepage/hero main.svg');
				"
			>
				
				<div class="headline quotes">CARA OU COROA</div>
				<div class="sub-headline">
					THE NEW ICONIC LISBON COURT BY EDIS AND PARIZ
				</div>

				
			</div>
		</div>
        <section class="articles white">
			<div class="articles-featured">
				<div class="featured">articles</div>
				<img
					class="featured-line"
					src="/assets/Homepage/section line.svg"
					alt="line"
				/>
			</div>
			<div class="articles-list">
				<div class="articles-item">
					<div class="title">The train only passes once</div>
					<div class="by">by sara guerreiro</div>
				</div>
				<div class="articles-item">
					<div class="title"></div>
					<div class="by"></div>
				</div>
				<div class="articles-item">
					<div class="title"></div>
					<div class="by"></div>
				</div>
			</div>
		</section>
		<section class="articles white">
			<div class="articles-featured">
				<div class="featured">all articles</div>
				<img
					class="featured-line"
					src="/assets/Homepage/section line.svg"
					alt="line"
				/>
			</div>
			<div class="articles-list-all">
			{allPosts.map(article =>(<div class="article-item">
					<div class="img"><img src={article?.image} alt=""></div>
					<div class="article-title" style={article.title.length>16?"font-size:0.9em":''}>{article?.title}</div>
					<div class="article-writer">{article?.author}</div>
				</div>))}
				
				
			</div>
			<div class="buttons-black centered">show more</div>
		</section>

        </Bases>