---
import Bases from '../Layout/Layout.astro'


// Data Fetching: List all Markdown posts in the repo.
let allPosts = Astro.fetchContent('./posts/careers/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));




---

<Bases>
    
    <div class="content-black">
                <div class="top content-black">
                    
                    <div class="page">
                        <div class="term-title">CAREERS AT HOOPERS</div>
                        <img src="/assets/policy/Line Breaker white.svg" alt="" />
                        <div class="term-title">WE’RE HIRING!</div>
                        <div class="positions">OPEN POSITIONS</div>
                        <div class="openings-list">
                           {allPosts.map(position=>(

                               <div class="position">
                                <div class="title">{position.title}</div>
                                <div class="detail">
                                    {position.astro.source}
                                </div>
                                <div class="email">Send resume to: <a href={`mailto:info@hoopers.club?subject=Hoopers Careers: ${position.title} `}>info@hoopers.club</a></div>
                            </div>
                           )
                           
                           
                           )
                               
                                }
                            
                        </div>
                    </div>
                    <div
                        class="buttons centered"
                        style="font-size: 1rem; padding: 1em 0.2em"
                    >
                        FOLLOW US ON LINKEDIN
                    </div>
                    
                </div>
            </div>
</Bases>