---
import Bases from '../Layout/Layout.astro'
---

<Bases>
    
    <div class="page">
                        <div class="term-title font-bold">COOKIES POLICY</div>
                        <img src="/assets/policy/Line Breaker white.svg" alt="" />
                        <div class="page-detail">
                            Cookies are text files that are stored on your device which allow us to collect information about your use of a website. The use of cookies is common practice in the market and intends to optimize your browsing experience.
                            <br><br>
                            The cookies we use can be classified as:
                            <br><br>
                            <ul style="margin-left: 5%;">
                                <li>
                                    <b>Strictly necessary cookies</b>
                                    <br>
                                    They are essential to ensure the functioning of the website and are activated based on user actions such as accessing the personal area or opening new pages, in order to store the minimum information necessary for the website to function. These cookies do not store any information that allows the user to be identified.
                                </li>
                                <li>
                                    <b>Performance cookies</b>
                                    <br>
                                    They collect information about how the website is used – for example which pages a user visits most or if they receive error messages. These cookies do not store any information that allows the user to be identified. The information collected is aggregated and anonymous. These cookies are used exclusively to improve the performance of a website and consequently the experience of its users.
                                </li>
                                <li>
                                    <b>Functionality Cookies</b>
                                    <br>
                                    They allow the website to store data on user preferences in order to provide optimized and more personal functions so that the user does not have to reconfigure the website on each visit. These cookies only collect anonymized information; do not allow you to track your movements on other websites.
                                </li>
                                <li>
                                    <b>Payment Cookies</b>
                                    <br>
                                    They are stored to guarantee the registration of the order and the payment data, in order to guarantee the success of the operation. In addition, these cookies ensure the security of the payment transaction, preventing fraud and theft of online identity.
                                </li>
                            </ul>
                            <br><br>
                            <b>Cookies used on our Platform</b>
                            <br>
                            <table>
                                <tr>
                                    <th class="strong">Cookies</th>
                                    <th class="strong">Duration</th>
                                    <th class="strong">Purpose</th>
                                </tr>
                                <tr>
                                    <td>ss_cvr</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>_shopify_y</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>secure_customer_sig</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>_y</td>
                                    <td></td>
                                    <td></td>    
                                </tr>
                            </table>
                            <br><br>
                            <b>Manage Cookies</b>
                            <br> 
                            All browsers allow the user to accept, refuse or delete cookies, namely by selecting the appropriate settings.
                            <br>
                            The following links show how you can configure cookie settings on the most used browsers:
                            <ul style="margin-left: 5%;">
                                <li>Internet Explorer - <a href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d"></a></li>
                                <li>Firefox - <a href="https://support.mozilla.org/pt-PT/kb/protecao-contra-monitorizacao-melhorada-no-firefox-para-pc?redirectlocale=en-US&redirectslug=enable-and-disable-cookies-website-preferences"></a></li>
                                <li>Safari - <a href="https://support.apple.com/en-us/guide/safari/sfri11471/mac"></a></li>
                                <li>Chrome - <a href="https://support.google.com/chrome/answer/95647?hl=pt"></a></li>
                            </ul>
                            <br><br>
                            Please be aware that disabling cookies may affect partially or totally your browsing experience on the Platform.      
                        </div>
                    </div>
</Bases>