---
import Bases from '../Layout/Layout.astro'
import Court from '../components/Court.jsx'



let allCourts = Astro.fetchContent('./posts/courts/*.md');
allCourts = allCourts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
// console.log(allCourts)
let images=Astro.fetchContent('/assets/courts/Our%20Courts%20Imagens/1_Conde%20de%20Bonfim/Galeria%20(Esquerda)/*.jpg')
console.log(images)
---




<Bases>

<div class="courts-list">
    
    {allCourts.map(court => (
         <Court client:visible court={court} first={court===allCourts[0]?true:false}/>
    ))}
    
    
    </div>

</Bases>