---
import Bases from '../Layout/Layout.astro'
import Court from '../components/Court.jsx'



let allCourts = Astro.fetchContent('./posts/courts/*.md');
allCourts = allCourts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
// console.log(allCourts)

---




<Bases>

<div class="courts-list">
    
    {allCourts.map(court => (
         <Court client:visible court={court} first={court===allCourts[0]?true:false}/>
    ))}
    
    
    </div>

</Bases>