---
import Bases from "../Layout/Layout.astro";

let downloadData = await Astro.fetchContent("../pages/posts/download-app/*.md");
---
<!-- displays layout import -->
<Bases>
  <div class="download">
    <div class="download-left">
        <img class="img" src={downloadData[0]?.phoneImage} alt="" />
    </div>
    <div class="download-right">
        <div class="title-nopad" set:html={downloadData[0]?.downloadTitle}/>
        <div class="text fonte-creditos" set:html={downloadData[0]?.description}/>
        <div class="buttons-container">
            <a href="https://apps.apple.com/us/app/id6444291751" target="_blank">
                <img src="/assets/app_store.svg" alt="" />
            </a>
            <a href="https://play.google.com/store/apps/details?id=club.hoopers.app" target="_blank">
                <img src="/assets/google_play.svg" alt="" />
            </a>
        </div>
        <div class="center-text"><div class="title-nopad" set:html={downloadData[0].outro}/></div>
        
    </div>
</div>
</Bases>
