---
import Bases from '../Layout/Layout-Article.astro'
import NftSection from '../components/nft-section.astro'

//let allPosts = Astro.fetchContent('./posts/articles/*.md');
//allPosts = allPosts.sort((a, b) =>new Date(b.publishDate.replace(/th/i,'').replace(/nd/i,'').replace(/rd/i,'').replace(/st/i,''))- new Date(a.publishDate.replace(/th/i,'').replace(/nd/i,'').replace(/rd/i,'').replace(/st/i,'')) );



/*
nft platform possible future integration

const response = await fetch('https://api.opensea.io/api/v1/collection/homecourt-1');
const data = await response.json();
console.log(data);
*/
---

<Bases>
		
        <!-- <Heros articles={allPosts} client:visible/> -->
        <div class="container">
			<div
				id="nft-hero"
				class="top"
				style={`
				
					background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
						url('/assets/nft_hero.jpg');
							background-attachment: fixed;
							background-position:center;
							background-size: cover;`

				}
			>
				<!-- <img src="/assets/courts/left.svg" alt="" class="changeleft"/><img src="/assets/courts/right.svg" alt="" class="changeright"/> -->
				<div class="headline " >
					<!-- <img class="esportlogo" src="/assets/esports/Asset 1.svg" alt=""/> -->
					Hoopers NFT's
				</div>
				<div class="centered-button buttons" style="z-index: 1;display:flex;" 
					 onclick="window.open('https://form.typeform.com/to/PoG6KnXd','_blank')">JOIN THE WHITELIST
				</div>
			</div>
		</div>
		
       
		<section class="single-articles black" style="min-height:0;position:relative;">
			<img class="separator centered" src="/assets/esports/Line Breaker.svg" alt="" />
			<br><br>
			<h3 style="text-align: center;">GOT GAME? LET’S PLAY!</h3>
			
			<p>
				Hoopers is building the largest global basketball community platform and you can be part of this story. 
				Our goal is to continue to connect the basketball community, also in the NFT space with unique collections 
				built for and by the community.<br><br>
				In our first drop, we will be offering a limited NFT collection inspired on projects we build for the community.<br><br>
				We’re changing the game!<br><br>
				Join our whitelist and be the first to know about NFTs, news and products.
			</p>
			<br><br>

			<img class="separator centered" src="/assets/esports/Line Breaker.svg" alt="" />

			<div class="centered-button buttons" style="z-index: 1;display:flex;" 
				 onclick="window.open('https://form.typeform.com/to/PoG6KnXd','_blank')">JOIN THE WHITELIST
			</div>

		</section>
		<!--
				<NftSection/>

		-->
	
		

</Bases>