---
import Bases from '../Layout/Layout.astro'
---

<Bases>
    
    <div class="page">
                        <div class="term-title font-bold">PRIVACY POLICY</div>
                        <img src="/assets/policy/Line Breaker white.svg" alt="" />
                        <div class="page-detail">
                            Update in November 2021<br>
                            At Hoopers we are truly committed to protecting your personal data.
                            <br>
                            This Privacy Policy describes what personal information Hoopers collects and how that information is processed, used, and disclosed. Throughout this document, users of the Platform will be referred to as "you", and Hoopers will be referred to as "we" or "us".
                            <br>
                            The processing of your Personal Data through our Platform will always be carried out in compliance with this Privacy Policy, with the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 (hereinafter the “GDPR”) and with Law 58/2019 of 8 August, which ensures the enforcement in Portugal of the GDPR.
                            <br>
                            By visiting our Platform or using any of the services we offer in there, you are accepting and consenting to this Privacy Policy.
                            <br><br>
                            <h2>Who is responsible for your Personal Data?</h2>
                            <br>
                            The entity responsible (the “Controller”) for the processing of your personal data is Plantel Protagonista, Lda., with the registered number 515665282 and head office at Rua da Prata, 80, 1100-420 Lisbon, Portugal.
                            <br><br>
                            <h2>What personal data do we collect?</h2>
                            <br>
                            “Personal data” is any information that identifies you as an individual or relates to an identifiable individual.
                            <br>
                            We only collect personal data that we consider essential for using our Platform and our services, as well as for contacting you in relation to our services. To see the purposes and legal basis for the processing of your data, please see the section (“For what purposes do we process your data?”).
                            <strong>Identification data:</strong> can include your name, date of birth, photo.
                            <br>
                            <strong>Contact data:</strong> can include your email address, telephone number, home or business address.
                            <br>
                            <strong>Social network data:</strong> can include your Instagram handle or any other social media.
                            <br>
                            <strong>Connection and geolocation data:</strong> operating system; browser version; domain name and IP address; details of any website from which you accessed our website.
                            <br><br>
                            <h2>How do we collect your personal data?</h2>
                            <br>
                            We collect your personal data directly from you, when you fill out the forms available on our website (“Sign up”, “subscribe our newsletter”, “online store”); when you contact us by any other ways (post, phone, e-mail, etc.); or when you contact us through our social media pages.  
                            <br>
                            We use automated technologies in our Platform, which means that we may also automatically collect technical data about your equipment and browsing actions and patterns.
                            <br><br>
                            <h2>For what purposes do we process your data?</h2>
                            <br>
                            Below, you can find the type of data we may collect during the various interactions you can have with us, as well as the purpose and the legal basis for us to do it. 
                            <br><br>
                            <table>
                                <tr>
                                    <th class="strong">Purpose / activity</th>
                                    <th class="strong">Type of data</th>
                                    <th class="strong">Legal basis for processing</th>
                                </tr>
                                <tr>
                                    <td class="strong">Creating account</td>
                                    <td>Identification data and contact data</td>
                                    <td>Performance of a contract or service with you</td>
                                </tr>
                                <tr>
                                    <td class="strong">Upload or update available courts</td>
                                    <td>Identification data and contact data; social media data</td>
                                    <td>Performance of a contract or service with you<br><br>Consent</td>
                                </tr>
                                <tr>
                                    <td class="strong">Schedule courts</td>
                                    <td>Identification data and contact data</td>
                                    <td>Performance of a contract or service with you<br><br>Consent</td>
                                </tr>
                                <tr>
                                    <td class="strong">Sending newsletters and other communications</td>
                                    <td>Identification data and contact data</td>
                                    <td>Our legitimate interests (to inform you of our news and keep you up to date with information regarding our Community<br><br>Performance of a contract with you</td>
                                </tr>
                                <tr>
                                    <td class="strong">Management of our contacts and relationship with users</td>
                                    <td>Identification data and contact data</td>
                                    <td>Performance of a contract or service with you<br><br>To comply with legal obligations</td>
                                </tr>
                                <tr>
                                    <td class="strong">To monitor, improve and administer the Platform and the services provided on the Platform</td>
                                    <td>Connection and location data</td>
                                    <td>Our legitimate interests (security purpose)<br><br>To comply with legal obligations</td>
                                </tr>
                                <tr>
                                    <td class="strong">Data analysis to improve our website, our services and the relationship with our users</td>
                                    <td>Connection and geolocation data;<br>commercial data</td>
                                    <td>Our legitimate interests</td>
                                </tr>
                            </table>
                            <br><br>
                            We will only use your personal data for the purposes for which the information was first collected, unless we reasonably consider that we need to use that data for another reason and that reason is compatible with the original purpose.
                            <br><br>
                            <h2>Security measures</h2>
                            <br>
                            We implemented appropriate technical and organizational measures to address the risks corresponding to our use of your Personal Data, including loss, alteration, or unauthorized access to Personal Data, and empowering you to exercise your rights.
                            <br><br>
                            <h2>Data Sharing</h2>
                            <br>
                            As a Community based Platform, we work on the assumption that when you ask us to make part of it you want to get noticed by the other members. As such, when you add a new court to our Platform, schedule new games, and react to our content and products, for example, your data will be shared with other users.
                            <br>
                            Your personal data will never be transferred to third parties for purposes other than those described in this Privacy Policy. However, and to provide our services, we will sometimes have to use external providers (processors), for example, e-mail platforms, network providers or hosting companies. Please remember that these providers will not be using your personal data for their own purposes, but solely to provide us with services we need and are part of the services we provide you, within the purposes detailed in this Privacy Policy. We only use entities (natural or legal) that have implemented the adequate technical and organizational measures and that guarantee the fulfilment of the legislation in force.
                            <br>
                            These entities will only process Personal Data for the purposes expressly foreseen in this Privacy Policy, being bound to tight contracts which guarantee that they will only process your Personal Data, based on express and written indications provided by us.
                            <br>
                            We may also share Personal Data to any third party where you provided your consent.
                            <br><br>
                            <h2>International Transfers</h2>
                            <br>
                            Some of the data recipients with whom we share Personal Data may be in countries other than the country in which Personal Data originally was collected, namely outside the EEA European Economic Area. The laws in those countries may not provide the same level of data protection compared to the country in which you initially provided data. Nevertheless, when we transfer Personal Data to recipients in other countries, including the USA, we guarantee those recipients provide adequate levels of protection according to the GDPR, for example through the signing of Standard Contractual Clauses, or an intra group data transfer agreement.
                            <br><br>
                            <h2>Retention of your data</h2>
                            <br>
                            We will keep your personal information only as long as reasonably necessary for the purposes described in this Policy unless a longer retention period is required by law.
                            <br>
                            We will keep your personal information only as long as reasonably necessary for the purposes described in this Policy unless a longer retention period is required by law.
                            <br><br>
                            <h2>Your rights as data subject</h2>
                            <br>
                            As data subject, you have the right to request: 
                            <ul style="margin-left: 5%;">
                                <li>access to your Personal Data;</li>
                                <li>a copy of your Personal Data (portability) you have provided, for your own purposes to use across different services;</li>
                                <li>the correction of Personal Data if it is incomplete or inaccurate;</li>
                                <li>the deletion or restriction of Personal Data in certain circumstances provided by applicable law;</li>
                                <li>the withdraw of consent for any data processing, based on consent, at any time;</li>
                            </ul>
                            <br><br>
                            You can exercise your rights by sending us an e-mail to <a href="mailto:info@hoopers.club">info@hoopers.club</a>.
                            <br><br>
                            You will also have the right to lodge a complaint at the <a href="https://www.cnpd.pt/cidadaos/participacoes/">Comissão Nacional de Proteção de Dados</a>, if you consider your rights have been violated.
                            <br><br>
                            <h2>Third Party Links</h2>
                            <br>
                            Our website may provide links to third-party websites (please see our <a href="https://hoopers.club/terms/">Terms and Conditions</a>). The processing of data by those websites is not our responsibility. As this Privacy Policy does not apply to the processing of personal data carried out by these third parties, we encourage you to read the Privacy Policy of any websites you visit whenever you leave the Hoopers Platform.
                            <br><br>
                            <h2>Changes to this privacy policy</h2>
                            <br>
                            This Privacy Policy is effective from the date indicated at the beginning. Applicable law and our practices change over time. If we decide to update our Privacy Policy, we will post it immediately on the website. If we materially change the way in which we process Personal Data, we will provide you with prior notice, or where legally required, request consent prior to implementing such changes. We advise a regular check for the latest updated version of this Policy.
                        </div>
                    </div>
</Bases>