---
import Bases from '../Layout/Layout.astro'
---

<Bases>
    
    <div class="page">
                        <div class="term-title font-bold">PRIVACY POLICY</div>
                        <img src="/assets/policy/Line Breaker white.svg" alt="" />
                        <div class="page-detail">
                            Update in November 2021<br>
                            At Hoopers we are truly committed to protecting your personal data.
                            <br>
                            This Privacy Policy describes what personal information Hoopers collects and how that information is processed, used, and disclosed. Throughout this document, users of the Platform will be referred to as "you", and Hoopers will be referred to as "we" or "us".
                            <br>
                            The processing of your Personal Data through our Platform will always be carried out in compliance with this Privacy Policy, with the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 (hereinafter the “GDPR”) and with Law 58/2019 of 8 August, which ensures the enforcement in Portugal of the GDPR.
                            <br>
                            By visiting our Platform or using any of the services we offer in there, you are accepting and consenting to this Privacy Policy.
                            <br><br>
                            <h4>Who is responsible for your Personal Data?</h4>
                            <br>
                            The entity responsible (the “Controller”) for the processing of your personal data is Plantel Protagonista, Lda., with the registered number 515665282 and head office at Rua da Prata, 80, 1100-420 Lisbon, Portugal.
                            <br><br>
                            <h4>What personal data do we collect?</h4>
                            “Personal data” is any information that identifies you as an individual or relates to an identifiable individual.
                            <br>
                            We only collect personal data that we consider essential for using our Platform and our services, as well as for contacting you in relation to our services. To see the purposes and legal basis for the processing of your data, please see the section (“For what purposes do we process your data?”).
                            <b>Identification data:</b> can include your name, date of birth, photo.
                            <br>
                            <b>Contact data:</b> can include your email address, telephone number, home or business address.
                            <br>
                            <b>Social network data:</b> can include your Instagram handle or any other social media.
                            <br>
                            <b>Connection and geolocation data:</b> operating system; browser version; domain name and IP address; details of any website from which you accessed our website.
                            <br><br>
                            <h4>How do we collect your personal data?</h4>
                            <br>
                            We collect your personal data directly from you, when you fill out the forms available on our website (“Sign up”, “subscribe our newsletter”, “online store”); when you contact us by any other ways (post, phone, e-mail, etc.); or when you contact us through our social media pages.  
                            <br>
                            We use automated technologies in our Platform, which means that we may also automatically collect technical data about your equipment and browsing actions and patterns.
                            <br><br>
                            <h4>For what purposes do we process your data?</h4>
                            Below, you can find the type of data we may collect during the various interactions you can have with us, as well as the purpose and the legal basis for us to do it. 
                            <br><br>
                            
                        </div>
                    </div>
</Bases>