---
import Bases from '../Layout/Layout.astro'
---


<Bases>
    <div class="page">
                        <div class="term-title font-bold">Terms and conditions</div>
                        <img src="/assets/policy/Line Breaker white.svg" alt="" />
                        <div class="page-detail">
                            Updated in November 2021
                            <br><br>
                            Welcome to our basketball community!
                            <br><br>
                            In these Terms and Conditions, you will find the rules which govern the access and use of our website <a href="https://www.hoopers.club/" style="color: #ffba00;">Hoopers</a> and its subdomains (the “Platform”) so it is very important that you read them, to enjoy everything Hoopers has to offer you.
                            <br><br>
                            The Website is property of Plantel Protagonista, Lda. (“Hoopers”, “we” or “us”), a limited liability company established under the laws of Portugal with a registered business office in Rua da Prata, 80, 1100-420 Lisbon (Portugal), and registered under the number 515665282.
                            <br><br>
                            If you wish to contact us, please write to us through the e-mail address <a style="color: #ffba00;" href="mailto:info@hoopers.club">info@hoopers.club</a>.
                            <br><br>
                            <h2>Object and Scope of the Terms and Conditions</h2>
                            <br>
                            At Hoopers our main goal is to connect the basketball community.
                            <br>
                            We want to create an active community around basketball.  We do this by encouraging people to meet and play the sport but also, by sharing basketball contents, products, and endorsing the preservation of your local basketball sites and courts.
                            <br>
                            To achieve this, we have developed a platform that aims to connect the community by allowing users to map courts, but also to challenge other players and schedule games between your friends, colleagues or any other members that are part of our Hoopers Community.
                            <br>
                            We know that for our community to grow, we need more than the love for the sport and people who want to play basketball. It is essential that we provide information on all existing courts and create a culture of awareness around the importance of preserving your local basketball sites.
                            <br>
                            We can only archive this with your participation and involvement.  That is why we invite people and our registered Hoopers to map their local basketball courts in our platform, provide us information on the state of conservation and maintenance and help us to join efforts to invigorate those areas, and give them back to the local community, as a renewed space that can be enjoyed by all.
                            <br>
                            In our Platform you will be able to see and follow our court projects and better understand how they have been transforming and positively changing local communities, bringing them closer together.
                            <br>
                            You can also use our platform to follow basketball news from around the world and watch and engage with our basketball related podcasts and other interesting content.
                            <br>
                            In our Platform, you can also find the link to our online store, but also information about new products, contents and solutions we are building to connect the community and extract economic value from our own current assets.
                            <br>
                            These Terms and Conditions will explain how our Platform works and shall be read and interpreted with our <a style="color: #ffba00;" href="https://hoopers.club/privacy/">Privacy Policy</a>.
                            <br><br>
                            <h2>Acknowledgement</h2>
                            <br>
                            By accessing, visiting, or using the Platform, you declare to be fully and clearly aware of the rules and warnings included in these Terms and Conditions, and accept to be governed by them. 
                            <br>
                            If you do not agree with the Terms and Conditions, you should not access or use the Platform or any of its contents.
                            <br><br>
                            <h2>How to use our Platform</h2>
                            <br>
                            <b>Courts' Directory</b>
                            <br>
                            Our Platform provides a street basketball courts’ directory, which is fed by us and by everyone else. 
                            <br>
                            If you want to contribute to our directory, please do it the following way:
                            <br>
                            <ol style="margin-left: 5%;">
                                <li>Create an account by following the steps indicated in the sign up page, or log in if you already have an account (not active yet);</li>
                                <li>Click in “Courts > Map”;</li>
                                <li>Check and browse on existent court locations;</li>
                                <li>Add a new court in the map by providing its location;</li>
                                <li>Upload your photos of the court;</li>
                                <li>Make a description of the court;</li>
                                <li>Leave your Instagram handle and e-mail so we can reach you later.</li>
                            </ol>  
                            <br><br>
                            <b>Schedule a game</b>
                            <br>
                            With our Platform you may also schedule games with other users in a court of your choice. When you schedule a game with other users, you will all be able to talk in a dedicated chat.
                            <br><br>
                            <b>Other functionalities</b>
                            <br>
                            Our platform will also provide you with lots of interesting content about our court projects, basketball news from other sources, new projects and initiatives we are implementing in, links to our store and the possibility to join our events.
                            <br><br>
                            <h2>Your obligations as a User</h2>
                            <br>
                            Once you have registered or joined our Platform, you shall be liable for any and all activities that occur through the use of it and by using your account access data. In addition, by accepting these Terms and Conditions, you declare that you know and agree that you are committed to:
                            <ul style="margin-left: 5%;">
                                <li>ensuring the security and confidentiality of your username and password that allow access to your account;</li>
                                <li>not to use the Platform in any way that causes, or may cause, damage to the Platform or impair its availability or accessibility, or in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal act, with fraudulent or harmful purposes or activities or that imply (i) a violation of the rights of third parties, (ii) acts offensive to public order, including threatening, malicious, abusive, harassing, defamatory, harassing, obscene or indecent acts, or (iii) the promotion of racial, political or religious hatred, violence or intolerance;</li>
                                <li>do not make available or disclose information, content or any unsolicited or unauthorized content, such as SPAM or content that belongs to third parties and that you do not have the right to use, such as copyrighted content or content that contains data of third parties;</li>
                                <li>not using the Platform to make available or disclose any material that contains or may contain viruses, worms, defects, trojan horses or any other item or computer code, files or programs that may interrupt, destroy or limit the functionality of any system or computer equipment or communication equipment or that may negatively affect the image of Hoopers;</li>
                                <li>not to use or launch (or attempt) any automated system (including, without limitation, any bots, robots, spiders or any unauthorized automated process) that may cause any limitations to the Platform or with the intent to manipulate or take over the Platform;</li>
                                <li>not to interfere (or attempt to) circumvent, disable or otherwise interfere with any features relating to the security of the Platform, including, but not limited to, through the use of reverse engineering, decompiling, disassembling, modifying or creating derivative work;</li>
                                <li>not to conduct any systematic or automated data collection activities (including without limitation, scraping, extracting and collecting data) on or in relation to the Platform;</li>
                                <li>always use the Platform in accordance with these Terms and Conditions and the law and regulations in force.</li>
                            </ul>
                            <br><br>
                            <h2>Security</h2>
                            <br>
                            Hoopers will put its best efforts into ensuring that the Platform does not have any type of virus or other related elements which may be dangerous to your computer or mobile device. However, since Hoopers cannot fully control the information flow on the Internet, it cannot guarantee that it does not contain any type of virus or other elements that may damage your computer or mobile device.
                            <br>
                            In order to ensure security of our Platform, Hoopers may, at any time and without prior notice, take the necessary measures to ensure the integrity, security, continuity or quality of the Platform, including restrictions or limitations of access.
                            <br><br>
                            <h2>Platform's Operability</h2>
                            <br>
                            Hoopers may suspend, block, stop or cease access to the Platform, for all or only one or more users, in the following cases:
                            <ul style="margin-left: 5%;">
                                <li>When necessary due to technical, strategic, legal or business constraints;</li>
                                <li>When necessary to ensure the security of, namely, communication channels, equipment or information;</li>
                                <li>When it has strong suspicions of fraudulent or abusive use by you or a third party including the use of robot, spider, crawler, scraper, or other automated means or interface to access the Platform or extract other users’ information;</li>
                                <li>When required by its management, maintenance, repair, modification or update operations of the equipment, systems or any of the Website’s functionalities;</li>
                                <li>In other circumstances duly justified, including, in particular, in the event of non-compliance by you of your obligations under these Terms and Conditions.</li>
                            </ul>
                            <br>
                            Hoopers further has the exclusive right to, at any time, permanently or temporarily, in whole or in part, at any time and at its discretion, shut down the Platform or any of its functionalities without prior notice.
                            <br><br>
                            <h2>Links to Third Parties</h2>
                            <br>
                            The Platform may contain links to other entities’ platforms, such as basketball related news websites. These platforms do not belong, are not operated nor controlled by Hoopers and Hoopers is therefore not liable nor responsible, and it does not control or approve the content of such platforms or of platforms linked or referred thereto. The insertion of links does not imply, in any case, the existence of relations between Hoopers and the owner or manager of the web page to which the link refers. Use of these links is the sole responsibility of the Platform’s users.
                            <br><br>
                            <h2>Indemnity</h2>
                            <br>
                            To the extent permitted by law, you agree to indemnify, defend and hold harmless Hoopers and Hoopers affiliates, directors, officers, licensors, employees, stockholders, agents, partners, suppliers or content providers, from and against any complaints, charges, claims, damages, losses, costs, liabilities and expenses (including attorneys’ fees) arising out of (i) your access to or use of the Platform; (ii) your content; and (iii) your breach of these Terms and Conditions.
                            <br><br>
                            <h2>Limitation of Liability</h2>
                            <br>
                            IN NO EVENT WILL HOOPERS, ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS OR CONTENT PROVIDERS BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SUBJECT MATTER OF THESE TERMS OF CONDITIONS, FOR ANY LOST PROFITS, LOST REVENUES, LOSS OF REPUTATION OR GOODWILL, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER. THE FOREGOING EXCLUSIONS SHALL NOT APPLY TO GROSS NEGLIGENCE OR WILLFUL MISCONDUCT.
                            <br>
                            A such, by accepting these Terms and Conditions you are stating that you understand and agree that Hoopers is not responsible for the contents made available on the Platform by any users, except when it does not prevent access to such contents as soon as it becomes aware of the respective illegality, as provided for in the Law.
                            <br>
                            Hoopers is also not responsible for:
                            <ul style="margin-left: 5%;">
                                <li>for any losses or damages, direct or indirect, caused by or resulting from the permanent or temporary unavailability of the Platform;</li>
                                <li>for any consequences arising from your use of the Platform, or your account;</li>
                                <li>for any other facts caused by third parties.</li>
                            </ul>
                            <br><br>
                            <h2>Intellectual Property Rights</h2>
                            <br>
                            You acknowledge that the Platform may contain certain content (texts, images, graphics, sound and animation, and all other information available) which is protected by copyright, patent, trademark, trade secret or other proprietary rights and laws and that the Platform, its structure and layout, the selection, organization and presentation of its contents, including its functionalities and the software used, as well as the trademarks, logos, and symbols which appear on the Platform are owned or held by Hoopers or have been duly licensed to Hoopers.
                            <br>
                            It is Hoopers’ responsibility to manage the design, layout and structure of all information, content and materials on the Platform, and as such Hoopers may, at any time, update, modify or erase any content, services, options or features, as well as modify its presentation and configuration and modify its URL address. You are not allowed to transfer, broadcast, publish, make available to the public, modify, transform, copy, sell, use or distribute, in any form, the texts, images, or other information contained on the Platform or part thereof without Hoopers’ prior written consent. The Hoopers’ name and logos are trademarks and service marks of Plantel Protagonista, Lda. (collectively the "Hoopers Trademarks"). The use of Hoopers Trademarks on the Platform does not grant, nor may it be interpreted as granting permission for you to use, directly or indirectly, such Hoopers Trademarks.
                            <br>
                            Except as expressly authorized by Hoopers, you agree not to modify, copy, frame, scrape, rent, lease, loan, sell, distribute or create derivative works based on the Platform or reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense, or otherwise transfer any right in the Platform.
                            <br>
                            You must not use the Platform to develop or commercialize any solution or to compete with Hoopers or in any other way which infringes the intellectual property rights of Hoopers. Any rights not expressly granted herein are reserved by Hoopers.
                            <br><br>
                            <h2>Personal Data</h2>
                            <br>
                            To see how your data is handled by Hoopers, please see our <a style="color: #ffba00;" href="https://hoopers.club/privacy/">Privacy Policy</a>.
                            <br><br>
                            <h2>Complaints</h2>
                            <br>
                            For complaints regarding the use and operation of our Platform, you can contact us through the e-mail address <a style="color: #ffba00;" href="mailto:info@hoopers.club">info@hoopers.club</a> or additionally through our <a style="color: #ffba00;" href="https://www.livroreclamacoes.pt/inicio">Electronic Complaints Book</a> (you may choose the option “in English”).
                            <br>
                            If you reside in another member state which is not Portugal you can also lodge your complaint in the <a style="color: #ffba00;" href="https://cec.consumidor.pt/submitting-a-complaint-to-the-ecc.aspx">European Consumer Centre</a> website.
                            <br>
                            You can also get more information on the website of the Portuguese Directorate-General for Consumers: <a style="color: #ffba00;" href="https://www.consumidor.gov.pt/">www.consumidor.gov.pt/</a> (in Portuguese).
                            <br><br>
                            <h2>Applicable law and dispute resolution</h2>
                            <br>
                            The law applicable to these Terms and Conditions is Portuguese law and any dispute regarding its interpretation and execution is subject to the Portuguese courts.
                            <br>
                            Should there be a dispute regarding the use and operation of our Platform whose value does not exceed €5,000.00, that dispute may be subject to imperative arbitration or mediation when you decide to submit it to an arbitration tribunal linked to the legally authorised centres for arbitration of consumer conflicts
                            <br>
                            For this purpose, you may resort to the following legally authorised centres:
                            <br><br>
                            <b>Centro de Arbitragem de Conflitos de Consumo de Lisboa (CACCL)</b>
                            <br>
                            Address: Rua dos Douradores, n.º 116 – 2.º, 1100 - 207 Lisboa
                            <br>
                            Tel.: +351 218807030
                            <br>
                            Fax: +351 218807038
                            <br>
                            E-mail: <a href="mailto:juridico@centroarbitragemlisboa.pt">juridico@centroarbitragemlisboa.pt</a>
                            <br>
                            Website: <a href="http://www.centroarbitragemlisboa.pt/">www.centroarbitragemlisboa.pt</a>
                            <br><br>
                            <b>Centro de Informação de Consumo e Arbitragem Porto (CICAP)</b>
                            <br>
                            Address: Rua Damião de Góis, 31, Loja 6, 4050-225, Porto
                            <br>
                            Tel.: +351 225508349/+351 225029791
                            <br>
                            Fax: +351 225026109
                            <br>
                            E-mail: <a href="mailto:cicap@cicap.pt">cicap@cicap.pt</a>
                            <br>
                            Website: <a href="http://www.cicap.pt/">www.cicap.pt</a>
                            <br><br>
                            <b>CIMAAL - Centro de Informação, Mediação e Arbitragem de Conflitos de Consumo do Algarve </b>
                            <br>
                            Address: Edifício Ninho de Empresas, Estrada da Penha – 3º andar, sala 26 - 8005-131 Faro
                            <br>
                            Tel.: +351 289823135
                            <br>
                            E-mail: <a href="mailto:info@consumoalgarve.pt">info@consumoalgarve.pt</a>
                            <br>
                            Website: <a href="http://www.consumidoronline.pt/">www.consumidoronline.pt</a>
                            <br><br>
                            <b>Centro de Arbitragem de Conflitos de Consumo do Ave, Tâmega e Sousa (TRIAVE)</b>
                            <br>
                            Address: Rua Capitão Alfredo Guimarães, 1, 4800-019 Guimarães
                            <br>
                            Tel.: +351 253422410
                            <br>
                            Fax: +351 253422411
                            <br>
                            E-mail: <a href="mailto:triave@gmail.com">triave@gmail.com</a>
                            <br>
                            Website: <a href="http://www.triave.pt/">www.triave.pt</a>
                            <br><br>
                            <b>Centro de Arbitragem de Conflitos de Consumo da Madeira</b>
                            <br>
                            Address: Endereço postal: Rua Direita nº. 27 – 1º Andar - 9050-405 Funchal
                            <br>
                            Tel.: +351 291750330 
                            <br>
                            E-mail: <a href="mailto:centroarbitragem.sre@madeira.gov.pt">centroarbitragem.sre@madeira.gov.pt</a>
                            <br>
                            E-mail (Gabinete Jurídico): <a href="mailto:ca.gabjuridico.sre@madeira.gov.pt">ca.gabjuridico.sre@madeira.gov.pt</a>
                            <br>
                            Website: <a href="https://www.madeira.gov.pt/cacc">www.madeira.gov.pt/cacc</a>
                            <br><br>
                            <b>Centro Nacional de Informação e Arbitragem de Conflitos de Consumo (CNIACC)</b>
                            <br>
                            Address: Rua D. Afonso Henriques, 1, 4700-030 Braga
                            <br>
                            Tel.: +351 253619107
                            <br>
                            E-mail: <a href="mailto:geral@cniacc.pt">geral@cniacc.pt</a>
                            <br>
                            Website: <a href="https://www.cniacc.pt/pt/">www.cniacc.pt/pt/</a>
                            <br><br>
                            <h2>Client support</h2>
                            <br>
                            We are always available to answer any questions you may have about the Platform. Please contact us anytime you need:
                            <br>
                            E-mail: <a href="mailto:info@hoopers.club">info@hoopers.club</a>
                            <br><br>
                            <h2>Changes to these Terms and Conditions</h2>
                            <br>
                            We may need to change these Terms and Conditions for organizational, legal or technical reasons. If this happens, you will be informed in the Platform.
                            <br>
                            Changes will be effective 15 days after its notification, except where the law states otherwise.
                        </div>
                    </div>
</Bases>