<section class="articles">
			<div class="title">
				<div class="title-section">articles</div>
				<img class="line" src="/assets/Homepage/section line.svg" alt="line" />
			</div>
			<div class="articles-list">
				<div
					class="articles-item"
					style="
						background: url('https://unsplash.it/400');
						background-repeat: no-repeat;
						background-size: cover;
						background-color: hsla(0, 0%, 0%, 0.014);
					"
				>
					<div class="title">The train only passes once</div>
					<div class="by">by sara guerreiro</div>
				</div>
				<div
					class="articles-item"
					style="
						background: url('https://unsplash.it/400');
						background-repeat: no-repeat;
						background-size: cover;
						background-color: hsla(0, 0%, 100%, 0.2);
					"
				>
					<div class="title">The train only passes once</div>
					<div class="by">by sara guerreiro</div>
				</div>
				<div
					class="articles-item"
					style="
						background: url('https://unsplash.it/400');
						background-repeat: no-repeat;
						background-size: cover;
						background-color: hsla(0, 0%, 100%, 0.2);
					"
				>
					<div class="title">The train only passes once</div>
					<div class="by">by sara guerreiro</div>
				</div>
			</div>
			<div class="centered buttons condensed">more articles</div>
		</section>