---

let frontpage = Astro.fetchContent('../pages/posts/frontpage/*.md');

---

	<section class="courts" >
			<div class="title">
				<div class="title-section centerright-i">courts</div>
				<img class="line centerleft-i " src="/assets/Homepage/section line.svg" alt="line" />
			</div>
			<div class="content">
				<div class="content-left">
					<img class="down-i" src={frontpage[0]?.courtImage} alt="" />
				</div>
				<div class="content-right">
					<div class="text fonte-creditos down-i" dangerouslySetInnerHTML={{ __html: frontpage[0]?.courtDescription }}>
					{frontpage[0]?.courtDescription}
					</div>
					<div class="buttons condensed down-i" onclick="location.href='/courts'">Our Courts</div>
				</div>
			</div>
		</section>

