---

let frontpage = await Astro.fetchContent('../pages/posts/frontpage/*.md');

---

<section class="courts" >
	<div class="title">
		<div class="title-section notranslate centerright-i" style="overflow:hidden; -webkit-transform: translateZ(0); -webkit-backface-visibility: hidden;">campos</div>
		<img class="line centerleft-i " src="/assets/Homepage/section line.svg" alt="line" />
	</div>
	<div class="content down-i">
		<div class="content-left">
			<img class="" src={frontpage[0]?.courtImage} alt="" />
		</div>
		<div class="content-right">
		<!--
			inside following div:
			dangerouslySetInnerHTML={{ __html: frontpage[0]?.courtDescription }}-->
			<div set:html={frontpage[0]?.courtDescription} class="text fonte-creditos"></div>
			<div class="buttons condensed" onclick="location.href='/courts'">OS NOSSOS <span class="notranslate">CAMPOS</span></div>
		</div>
	</div>
</section>

