	<section class="courts">
			<div class="title">
				<img class="line" src="/assets/Homepage/section line.svg" alt="line" />
				<div class="title-section">court</div>
			</div>
			<div class="content">
				<div class="content-left">
					<img src="/assets/Homepage/courts image.svg" alt="" />
				</div>
				<div class="content-right">
					<div class="text fonte-creditos">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
						placeat nisi doloremque reprehenderit sit vero voluptatem porro
						quisquam iusto. Aperiam esse fuga labore sint ex! Vitae, dignissimos
						quibusdam culpa asperiores quaerat fugiat. Illo quam corrupti vel
						odio nesciunt pariatur odit, repudiandae sapiente at ipsam voluptas!
					</div>
					<div class="buttons">Our Courts</div>
				</div>
			</div>
		</section>