<footer class="footer">
			<div class="footer-location">
				<div class="location">
					<div class="title">get in touch</div>
					<div class="description">info@hoopers.club</div>
				</div>
				<div class="location">
					<div class="title">address</div>
					<div class="description">
						Rua da Prata, 80, 1°,1100-420 <br />Lisboa, Portugal
					</div>
				</div>
			</div>
			<div class="follow">
				follow us
				<ul>
					<li>instagram</li>
					<li>youtube</li>
					<li>twitter</li>
					<li>facebook</li>
					<li>spotify</li>
				</ul>
			</div>
			<div class="links">
				<ul>
					<li>careers at hoopers</li>
					<li>terms and conditions</li>
					<li>privacy policy</li>
					<li>cookies policy</li>
					<li>about</li>
				</ul>
			</div>
			<div class="subscription">
				<p>join our mailing list</p>

				<input type="email" placeholder="email" />
				<div class="buttons">subscribe</div>
			</div>
		</footer>