<footer class="footer">
			<div class="footer-location">
				<div class="location">
					<div class="title">get in touch</div>
					<div class="description"><a href="mailto:info@hoopers.club">info@hoopers.club</a></div>
				</div>
				<div class="location">
					<div class="title">address</div>
					<div class="description">
						<a href="https://goo.gl/maps/XHc7zDwSVAXv7aqU7" target="_blank">Rua da Prata, 80, 1°,1100-420 <br />Lisboa, Portugal</a>
					</div>
				</div>
			</div>
			<div class="follow">
				follow us
				<ul>
					<li><a href="https://www.instagram.com/by_hoopers/" target="_blank">instagram</a></li>
					<li><a href="https://www.youtube.com/channel/UC9majUuTNcytG0nmt_B8Ubg" target="_blank">youtube</a></li>
					<li><a href="https://twitter.com/by_hoopers" target="_blank">twitter</a></li>
					<li><a href="https://www.facebook.com/by.hoopers" target="_blank">facebook</a></li>
					<li><a href="https://open.spotify.com/show/0hhUbVNzpsyUT7dIlFxL1a?si=ZI7Mk6ebRv6uz0LfLQbnYA" target="_blank">spotify</a></li>
				</ul>
			</div>
			<div class="links">
				<ul>
					<li><a href="/careers">careers at hoopers</a></li>
					<li><a href="/terms">terms and conditions</a></li>
					<li><a href="/privacy">privacy policy</a></li>
					<li><a href="/cookies">cookies policy</a></li>
					<li><a href="/about">about</a></li>
				</ul>
			</div>
			<form action="https://club.us17.list-manage.com/subscribe/post?u=d13b3274eddb0f43cd6a140f9&amp;id=e898e77742" method="post" class="subscription">
				<p>join our mailing list</p>

				<input id="mce-EMAIL" type="email" placeholder="email" />
				<div class="buttons">subscribe</div>
			</form>
		</footer>