---
let games = await Astro.fetchContent('/src/pages/posts/summergames/*.md');


games=games.sort((a,b)=>new Date(a.time).valueOf()-new Date(b.time).valueOf());
games=games.filter(game=>new Date()<new Date(game.time));

/*console.log(new Date(games[0]?.time),'fulltime')
console.log(new Date(games[0]?.time).toDateString(),'fulltime')
console.log(new Date(games[0]?.time).getDate(),'date')
console.log(new Date(games[0]?.time).getDay(),'day')
console.log(new Date(games[0]?.time).getMonth(),'month')
console.log(new Date(games[0]?.time).getHours(),'hours')
console.log(new Date(games[0]?.time).getMinutes(),'minutes')*/

let isScheduled;

games[0]?.time ? isScheduled = true : isScheduled = false;
//console.log("the value of isScheduled = " + isScheduled);
---

<section class="articles black" style="min-height:0;">
	<div class="articles-featured">
		<div class="esport-title notranslate">Games Schedule</div>
		<img
			class="featured-line"
			src="/assets/articles/linha.svg"
			alt="line"
		/>
	</div>
	<div class="schedule-list">
	
	{isScheduled ? 
		games?.slice(0,6).map(game =>(

			<div class="schedule-item">
				<div class="match notranslate">{game?.teamA} <br/>X<br/> {game?.teamB}</div>
				<div class="match-secondary notranslate">
					<div class="time">{`${new Date(game?.time).getDate()}/${new Date(game?.time).getMonth() + 1} - ${new Date(game?.time).getHours()}H${new Date(game?.time).getMinutes()=='00'?'':new Date(game?.time).getMinutes()} `}</div>
					<div class="match-location notranslate">{game?.location}</div> 
				</div>
			</div>
		))
		: (
			<div class="schedule.item ">
				<p>No scheduled games. Stay tuned...</p>
			</div>
		)}
	</div>
	
	<div class="buttons-black center-games " onclick="window.open('https://drive.google.com/file/d/102LexGgBavhadrncFcddMJ1Vrv9Iaes4/view?usp=sharing','_blank')">Todos os Jogos</div>

</section>