

<div class="container">
			<div
				class="top"
				style="
					background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
						url('./assets/Homepage/hero main.svg');
				"
			>
            <div class="headline">new court<br />ameixoeira - portugal</div>
				<div class="centered buttons">watch video</div>
				
			</div>
		</div>