---
import videourl from '/assets/Video Final - SD Benfica_1.mp4'
---

<div class="container" style="position: relative">

	<div class="top">
		
		<video class="hero-video" src="../../assets/nft_banner_video.mp4" autoplay loop playsinline muted id="myVideo"></video>
		<video class="hero-video-mobile" src="../../assets/nft_banner_mobile.mp4" autoplay loop playsinline muted id="myVideo"></video>
				

	<!--	<div class="headline" style="padding: 0 1em;" ><h2>2021 RECAP</h2><span><h2>We’re on to the next chapter</h2></span></div>-->
		<div class="centered-button buttons" style="z-index: 1;display:flex;margin-top: auto;" onclick="window.open('../posts/articles/2022-01-17-hoopers-nft-project-coming-soon/','_blank')">Read More
		</div>
		
	</div>
</div>