

<div class="container" style="position: relative">

			<div
				class="top"
				style="
					background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
						url('/assets/Homepage/hero main.svg');
							background-attachment: fixed;
							
				"
			>
	<video src="https://github.com/hoopersclub/hoopers/blob/main/public/assets/videozip_4.mp4" autoplay loop playsinline muted id="myVideo"></video>

<iframe src="https://github.com/hoopersclub/hoopers/blob/main/public/assets/videozip_4.mp4" style="z-index: 4;" frameborder="0"></iframe>
            <div class="headline" ><h2>new court</h2><span><h2 >ameixoeira - portugal</h2></span></div>
				<div class="centered buttons" style="z-index: 1;" onclick="window.open('https://youtu.be/6YNnwq_nykA','_blank')">watch video</div>
				
			</div>
		</div>