---
import videourl from '/assets/Video Final - SD Benfica_1.mp4'
---

<div class="container" style="position: relative">

	<div class="top">
		<!--
		<video src="https://github.com/hoopersclub/gallery/blob/main/new_video.mp4?raw=true?raw=true" autoplay loop playsinline muted id="myVideo"></video>
		-->

		<div class="headline" style="padding: 0 1em;" ><h2>Winter Collection</h2><span><h2>Check it out</h2></span></div>
		<div class="centered-button buttons" style="z-index: 1;display:flex;margin-top: auto;" onclick="window.open('https://hoopers.club/posts/articles/2021-12-13-hoopers-releases-its-winter-collection-inspired-in-ticha-penicheiro-and-neemias-queta%E2%80%99s-journeys/','_blank')">Read More
		</div>
		
	</div>
</div>