---

---

<div class="container" style="position: relative">

	<div class="top">
		
		<!--<video class="hero-video" src="../../assets/nft_banner_video.mp4" autoplay loop playsinline muted id="myVideo"></video>
		<video class="hero-video-mobile" src="../../assets/nft_banner_mobile.mp4" autoplay loop playsinline muted id="myVideo"></video>-->
		<div 
			class="hero-video" 
			style="
				background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) ), 
				url('/assets/uploads/hoopers_spring_break_cover_hero_large.jpeg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position:center;" 
			id="myVideo"
		></div>
		<div 
			class="hero-video-mobile" 
			style="
				background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) ), url('/assets/uploads/hoopers_spring_break_cover_hero_small.jpeg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position:center;" 
			id="myVideo"
		></div>

		<!--<div class="headline" style="padding: 0 1em;" ><h2>2021 RECAP</h2><span><h2>We’re on to the next chapter</h2></span></div>-->
		<div class="centered-button buttons" style="z-index: 1;display:flex;margin-top: auto;" onclick="window.open('https://hoopers.club/posts/articles/2022-03-29-chegou-o-nosso-1%C2%BA-evento-hoopers-spring-break/','_blank')">READ MORE
		</div>
		
	</div>
</div>