@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

/* -------------------------------------------------------------------------- */
/*                                   ARTICLE                                  */
/* -------------------------------------------------------------------------- */

.articles {
	.featured {
		font-size: 2em;
		text-transform: uppercase;
		padding-top: 1em;
		padding-bottom: 0.5em;
		&-line {
			padding-bottom: 1rem;
		}
	}
	&-featured {
		display: flex;
		flex-direction: column;
		padding: 0 5em;
	}
	&-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: $white;

		.title {
			display: flex;
			justify-content: center;
			padding: 1em;
			height: 1em;
			font-family: $aktiv-grotesk-regular;
			font-size: 1.2em;
			font-stretch: condensed;
			text-transform: uppercase;
			margin: auto 0 2em 0em;
		}
		.by {
			display: flex;
			justify-content: center;
			padding: 1em;
			height: 1em;
			font-family: $aktiv-grotesk-light;
			font-style: italic;
			font-stretch: condensed;
			text-transform: uppercase;
			font-size: 0.8em;
		}
	}
	&-list {
		display: grid;
		padding: 4em 10%;
		grid-template-columns: repeat(auto-fit, minmax(20em, 3fr));

		.articles-item {
			min-height: 60vh;
		}
	}

	/* -------------------------------------------------------------------------- */
	/*                                all articles                                */
	/* -------------------------------------------------------------------------- */
	&-list-all {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20em, 3fr));
		// grid-auto-rows: 30vh;
		padding: 0 5em;
		margin: 0 5em;
		gap: 5em;
		border-bottom: 0.5px solid $dark-orange;

		.article-item {
			display: flex;
			flex-direction: column;
			border-bottom: 0.5px solid $dark-orange;
			max-width: 100%;
			margin-bottom: 2em;
			.img {
				max-width: 100%;

				display: flex;
				flex: 1;
				img {
					max-width: 100%;
					height: 100%;
				}
			}
			.article-title {
				text-transform: uppercase;
				font-size: 2em;
				font-family: $aktiv-grotesk-bold;
				max-width: 100%;
			}
			.article-writer {
				font-style: italic;

				font-family: $aktiv-grotesk-medium;
				text-transform: uppercase;
				font-size: 1.2em;
			}
		}
	}
}

.quotes {
	&::before {
		content: '"';
	}
	&::after {
		content: '"';
	}
}
.sub-headline {
	display: flex;
	justify-content: center;
	padding-bottom: 2em;
	color: $white;
	text-decoration: underline;
	font-style: italic;
	font-size: 1.5em;
	padding-left: 10%;
	padding-right: 10%;
}

.white {
	background-color: white !important;
}

.single-articles {
	padding: 0 15% 5em 15%;

	iframe {
		width: 100%;
		// padding: 0 15%;
	}
	p {
		padding: 1em 0 !important;
		font-family: $charter;
		strong {
			font-family: $aktiv-grotesk-bold;
		}
	}
	img {
		width: 100%;
	}
}

@media screen and (max-width: 300px) {
	.articles-list-all {
		margin: 0;
		padding: 0 1em;
	}
	.headline {
		font-size: 2em !important;
	}
	.sub-headline {
		font-size: 1em !important;
	}
}
