@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;



.openings-list {
	display: flex;
	flex-direction: column;

	gap: 2em;
	

	.career-accordion {
		color: #d38731;
		font-family: ' Aktiv-Grotesk-light';
		text-transform: uppercase;
		font-size: 1.5em;
		padding: 0.5em 0;
		border-bottom: 0.5px solid #d38731;
	}

	.career-panel {
		display: none;
		overflow: hidden;

		div{
			color: white;
			font-family: ' Aktiv-Grotesk-light';
			padding-bottom: 1em;

			ul, ol {
				padding-left: 1em;
			}
		}
	}

	.position {
		display: flex;
		max-width: 75%;
		flex-direction: column;
		gap: 1em;
		margin-bottom: 2em;
		.title {
			color: $dark-orange;
			font-family: $aktiv-grotesk-light;
			text-transform: uppercase;
			font-size: 1.5em;
			padding: 0.5em 0;
			border-bottom: 0.5px solid $dark-orange;
		}
		.detail {
			font-family: $aktiv-grotesk-regular;
			color: $white;
		}
		.email {
			color: $dark-orange;
			font-family: $aktiv-grotesk-medium;
		}
	}
}

.positions {
	color: white;
    font-family: $aktiv-grotesk-light;
    font-size: 1.5em;
}

.font-bold {
	font-family: $aktiv-grotesk-bolditalic !important;
}

.orange {
	color: $dark-orange;
}

.new-centered {
	padding: 0.38em 1.5em;
	min-width: 13em;
    font-size: 1.5em;
    margin: 0 0.25em;
    text-align: center;
}

.career-btn {
	display: flex;
    flex-direction: row;
    justify-content: center;
	margin-bottom: 2em;
}

@media screen and (max-width: 1300px){
	.page {
		padding: 18% 15% 0 15% !important;
	}
}

@media screen and (max-width: 900px){
	.page {
		padding: 25% 15% 0 15% !important;
		
	}

	.openings-list .position {
		max-width: 100%;
	}
}

@media screen and (max-width: 50em) {
	iframe {
		width: 100%;
		height: auto;
	}
	.term-title {
		font-size: 1.2rem !important;
	}
	.page {
		padding: 20vh 15% 15% 15% !important;
	}

	
}

@media screen and (max-width: 515px) {
	.career-btn {
		flex-direction: column;

		.new-centered {
			margin: 0.5em 0.25em;
		}
	}

	
}
