@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.courts-list {
	// display: flex;
	flex-direction: column;
	z-index: -1;
}

.court {
	cursor: pointer;
	margin-top: auto;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	background-position-x: center;
	// z-index: 0;

	.titles {
		padding: 2em;
		padding-left: 10%;
		// z-index: -1;
	}
	color: $white;
	&-headline {
		font-size: 4em;
		text-transform: uppercase;
	}
	&-subtext {
		font-size: 4em;
		font-family: $aktiv-grotesk-light;
		text-transform: uppercase;
	}

	.left,
	.right {
		width: 90%;
		display: flex;
	}
	.right {
		margin-left: auto;
		margin-bottom: 1.5em;
		gap: 2em;
		.title {
			padding-top: 0;
		}
	}
}
.leftseparator {
	margin-top: auto;
}

@media screen and (max-width: 50em) {
	.court {
		.titles {
			font-size: 0.8em;
		}
	}
}
