@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.courts-list {
	display: flex;
	flex-direction: column;
}

.court {
	cursor: pointer;
	margin-top: auto;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	background-position-x: center;

	.titles {
		padding: 2em;
		padding-left: 10%;
	}
	color: $white;
	&-headline {
		font-size: 4em;
		text-transform: uppercase;
	}
	&-subtext {
		font-size: 4em;
		font-family: $aktiv-grotesk-light;
		text-transform: uppercase;
	}

	.left,
	.right {
		width: 90%;
		display: flex;
	}
	.right {
		margin-left: auto;
		margin-bottom: 2em;
	}
}
.leftseparator {
	margin-top: auto;
}

@media screen and (min-width: 370px) {
	.court {
		.titles {
			font-size: 0.8em;
		}
	}
}
