@use '../abstracts/colors' as colors;
@use '../abstracts/fonts' as fonts;

.footer {
	min-height: 20vh;
	// max-height: 25vh;
	margin-top: auto;
	padding: 1em 0;
	background-color: colors.$dark-orange;
	color: colors.$hoopers-black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	flex: 1;
	justify-content: space-evenly;

	&-location {
		display: flex;
		flex-direction: column;
		// justify-content: space-evenly;
		gap: 1em;
		.title {
			padding-top: 0;
		}
		.location {
			.description {
				font-family: fonts.$aktiv-grotesk-light;
			}
		}
	}
}

.follow {
	ul {
		li {
			list-style-type: none;
			font-family: fonts.$aktiv-grotesk-light;
		}
	}
}

.links {
	ul {
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		li {
			list-style-type: none;
			&:hover {
				box-shadow: inset 0 -1px 0 0 colors.$hoopers-black;
			}
		}
	}
}

.follow {
	ul {
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		li {
			&:hover {
				box-shadow: inset 0 -1px 0 0 colors.$hoopers-black;
			}
		}
	}
}

.subscription {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

@media screen and (max-width: 500px) {
	.footer {
		// max-height: 35vh;
	}
}

input[type=email] {
	border-bottom: solid 1px black;
    margin-bottom: 0.25em;
    width: 98%;
	&:focus {
		outline: none !important;
	}
}