@use '../abstracts/colors' as colors;
@use '../abstracts/fonts' as fonts;


/*.top {
	background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
				url('/assets/uploads/recap_banner.png')
				center;
	background-attachment: fixed;
}*/
/*
@media screen and (max-width: 500px) {
	.top {
		background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
					url('/assets/frontpage/2021_winter_collection_mobile.jpg')
					center;
	}
}
*/


.top {
	@media only screen and (min-width: 614px) {
		.hero-video-mobile {
			display: none;
		}
	}
	@media only screen and (max-width: 613px) {
		.hero-video {
			display: none;
		}
	}
}