@use '../abstracts/colors' as colors;
@use '../abstracts/fonts' as fonts;


.top {
	background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
				url('/assets/frontpage/2021_winter_collection.jpeg')
				center;
	background-attachment: fixed;
}

@media screen and (max-width: 500px) {
	.top {
		background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
					url('/assets/frontpage/2021_winter_collection_mobile.jpg')
					center;
	}
}

