@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;

.menus {
	min-height: 100vh;
	background-color: $black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 15vh;
	z-index: unset;
	transition: all 0.3s ease-out;

	.nav {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.menus-list {
	color: white;
	ul {
		display: flex;
		flex-direction: column;
		gap: 1em;
		list-style: none;
		li {
			font-size: 3em;
			font-family: $aktiv-grotesk-regular;
			text-transform: uppercase;
			padding-left: 10%;
			list-style: none;
			list-style-type: none;
			background-image: linear-gradient($dark-orange, $dark-orange);
			background-size: 0% 3px;
			background-repeat: no-repeat;
			background-position: left bottom;
			width: fit-content;
			transition: background-size 200ms ease;
			cursor: pointer;

			&:hover {
				// box-shadow: border-box;
				// border-bottom: 3px solid $dark-orange;
				width: fit-content;
				background-size: 100% 3px;
			}
		}
	}
}
.logo-menu {
	display: grid;
	place-items: center;
	img {
		width: 10em;
		display: flex;
		margin: auto;
	}
}

.sub-courts {
	padding-left: 5%;
}

.hide {
	display: none !important;
}
