@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

/* -------------------------------------------------------------------------- */

/*                                   ARTICLE                                  */

/* -------------------------------------------------------------------------- */

.nft {
	// padding-top: 10vh;
	background-color: $hoopers-black !important;
	min-height: 100vh;

	.articles-list-all {
		border: none; 
		margin: 0;
		gap: 2em;
	    display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.articles-item {
		max-width: 12em;
	}
	
	.article-title {
		font-size:0.7em;
	}
	
	.separator {
		width: 100%;
	}

	
	.drops {
		
		text-transform: uppercase;
		padding-top: 0;
		padding-bottom: 1em;
		color: $dark-orange;
		font-size: 3em;

		&-line {
			padding-bottom: 1rem;
		}
		
	}
	&-drops {
		display: flex;
		flex-direction: column;
		padding: 0 15% 2em;
		
		
	}
	.drop-title {
		width: 100%;
		color: white;
		font-family: $aktiv-grotesk-light;
		margin-bottom: 0.5em;
	}
	&-item {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: $white;
		width: 100%;
		height: auto;
		.title {
			display: flex;
			justify-content: center;
			padding: 1em;
			// height: 1em;
			font-family: $aktiv-grotesk-bold;
			font-size: 1em !important;
			font-stretch: condensed;
			text-transform: uppercase;
			text-align: center;

			// margin: auto 0 2em 0em;
		}
		.by {
			display: flex;
			justify-content: center;
			padding: 1em;
			height: 1em;
			font-family: $aktiv-grotesk-italic;
			font-style: italic;
			font-stretch: condensed;
			text-transform: uppercase;
			font-size: 0.875em;
		}
	}
	&-list {
		//display: grid;
		padding: 0 15%;
		//grid-template-columns: repeat(auto-fit, minmax(33%, 3fr));
		place-items: center;
		.articles-item {
			height: 18em;
			width: 11em;
		}
	}
	/* -------------------------------------------------------------------------- */
	/*                                all articles                                */
	/* -------------------------------------------------------------------------- */
	&-list-all {
		//display: grid;
		
		//grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
		// grid-auto-rows: 30vh;
		//margin: 0 10%;
		// margin: 0 5em;
		row-gap: 2em;
		column-gap: 3em;
		//border-bottom: 0.5px solid $dark-orange;
		.drop-name {
			font-size: 16px;
			font-family: " Aktiv-Grotesk-Bold";
			max-width: 100%;
			margin-bottom: auto;
			margin-top: 0.75em;
		}
		.drop-artist {
			font-size: 16px;
			font-family: $aktiv-grotesk-light;
			margin-top: 0.25em;
		}
		.drop-bid{
			font-size: 12px;
			font-family: $aktiv-grotesk-light;
			text-align: end;
		}
		.drop-price {
			font-size: 18px;
			font-family: $aktiv-grotesk-light;
			text-align: end;
			color: $dark-orange;
		}
		.nft-drop-title {
			width: 100%;
			color: white;
			font-size: 2em;
			font-family: $aktiv-grotesk-light;
			
			
		}
		.article-item {
			display: flex;
			flex-direction: column;
			border-bottom: 0.5px solid $dark-orange;
			max-width: 100%;
			margin-bottom: 2em;
			cursor: pointer;
			.img {
				max-width: 100%;
				overflow: hidden;
				height: 10em;
				img {
					display: block;
					margin: 0 auto auto auto;
					max-width: 100%;
				}
			}
			.article-title {
				// text-transform: uppercase;
				font-size: 2em;
				font-family: $aktiv-grotesk-bold;
				max-width: 100%;
				margin-bottom: auto;
			}
			.article-writer {
				font-style: italic;
				font-family: $aktiv-grotesk-mediumitalic;
				text-transform: uppercase;
				font-size: 1em;
				background-image: linear-gradient($dark-orange, $dark-orange);
				background-size: 0%;
				background-repeat: no-repeat;
				background-position: left center;
				width: 100%;
				transition: background-size 300ms ease-out;
			}
		}
	}
}

.quotes {
	&::before {
		content: '"';
		display: contents;
	}
	&::after {
		content: '"';
		display: contents;
	}
}

.sub-headline {
	display: flex;
	justify-content: center;
	border-bottom: 3px solid white;
	margin-bottom: 2em;
	padding: 0px;
	color: $white;
	font-style: italic;
	font-size: 1.5em;
	// padding-left: 10%;
	// padding-right: 10%;
	text-align: center;
	font-family: $aktiv-grotesk-mediumitalic;
	// border-bottom: 3px solid white;
	width: fit-content;
	margin: 0 auto;
}

.white {
	background-color: white !important;
}

@media screen and (min-width: 1886px) {
	.nft .articles-list-all {
		column-gap: 10%;
	}
}

@media screen and (max-width: 1782px) {
	.nft .articles-list-all {
		column-gap: 2em;
	}
}


@media screen and (max-width: 1690px) {
	.nft .articles-list-all {
		justify-content: space-between;
	}
}

@media screen and (max-width: 360px) {
	.nft {
		.articles-item {
			height: 9em;
			width: 5.5em;
		}

		.articles-list-all {
			margin: 0;
			padding: 0 1em;
		}
		.headline {
			font-size: 2em !important;
		}
		.sub-headline {
			font-size: 1em !important;
			text-align: center;
		}
	}
}

@media screen and (max-width: 800px) {
	.nft-drops{
		padding: 0 5% 2em;
	}
	.nft-list{
		padding: 0 5%;
	}

	#nft-hero {
		background: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)), url(../../../../assets/nft_hero_mobile.jpg) !important;
		background-size: cover !important;
		background-position: center !important;
		background-attachment: fixed !important;
	}
}

@media screen and (max-width: 418px) {
	.nft {
		.articles-item {
			height: 13.5em;
			width: 8.25em;
		}
	}
}

@media screen and (max-width: 1096px) {
	.nft {
		.nft-drop-title .drop-title {
			text-align: center;
		}

		.articles-list-all {
			margin: 0;
			padding: 0 1em;
			display: flex;
			//grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
			justify-content: center;
		}
		.articles-list {
			grid-template-columns: repeat(auto-fit, minmax(100%, 3fr));
		}
		.articles-item {
			width: 100%;
		}
		.title-section {
			font-size: 3em !important;
		}
	}
	
}



.gallery {
	position: relative;
	/* top: 0; */
	/* left: 0; */
	/* right: 0; */
	display: flex;
	flex-direction: row;
	flex: 1;
	/* height: 100vh; */
	/* background-color: #1d1d1b; */
	z-index: o;
}
