@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;

.sub-text {
	//display: flex;
	justify-content: center;
	text-align: center;
	color: $white;

	font-size: 1.2em;
	font-family: $aktiv-grotesk-medium;
}

.single-articles {
	display: flex;

	flex-direction: column;
	p {
		padding: 1.5em 15%;
		a {
			text-decoration: underline;
		}
	}
	.quoted {
		font-style: italic;
		font-family: $aktiv-grotesk-light;
		border-right: 3px solid $hoopers-yellow;
		height: 100%;
		&:before {
			content: "";
			border-left: 3px solid $hoopers-yellow;
			height: 100%;
		}
	}

	ul,
	ol {
		padding-left: 1em;
		padding-bottom: 1em;
		li {
			padding-bottom: 0.5em;
			font-family: $aktiv-grotesk-italic;
		}
	}
}

section {
	max-width: 100%;
}
