@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

.content-black {
	background-color: $hoopers-black !important;
}

.term-title {
	color: white;
	justify-content: center;
	width: 100%;
	display: flex;
	margin-bottom: auto;
	font-family: $aktiv-grotesk-light;
	text-transform: uppercase;
	font-style: italic;
	font-size: 2rem;
}

.page {
	display: flex;
	flex-direction: column;
	padding: 5% 15%;
	gap: 1em;
	&-detail {
		color: $white;
		font-family: $charter;
		font-size: 0.9em;
	}
}
.cookie-container {
	gap: 1em;
	z-index: 102;
	padding: 2em 5% 2em 5%;
	display: none;
	flex-direction: row;
	position: fixed;
	bottom: 0;
	left: 0;
	// right: 0;
	background-color: #080808;
	width: 90vw;
	.left,
	.right {
		display: flex;
		width: 100%;
		justify-content: center;
		flex-direction: column;
	}
	.left {
		p {
			strong {
				font-family: $aktiv-grotesk-bold;
			}
			color: $white;
			font-family: $aktiv-grotesk-light;
		}
		a {
			color: $white;
			font-family: $aktiv-grotesk-bold;
			text-decoration: underline;
		}
	}
	.right {
		button {
			margin: auto;
			border: transparent;
		}
	}
}
.cookie-container.active {
	display: flex;
}
@media (max-width: 40em) {
	.cookie-container {
		flex-direction: column;
		.left {
			padding-right: 5%;
		}
	}
}
