@use './abstracts/colors' as *;
@use './abstracts/fonts' as *;
@use './components/footers' as *;
@use './components/articles' as *;
@use './components/single' as *;
@use './components/termscookiespolicy' as *;
@use './components/about' as *;
@use './components/careers' as *;
@use './components/menu' as *;
@use './components/courtdetail' as *;

* {
	padding: 0;
	margin: 0;
}
input {
	border-color: transparent;
	background-color: transparent;
	border-bottom-color: $hoopers-black;
	&::placeholder {
		color: white;
	}
}
div {
	box-shadow: border-box yellow;
	border: 1px solid yellow;
}
html {
	background-color: $hoopers-black;
	font-family: $aktiv-grotesk-bold;
}
main {
	background-color: black;
}
.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2em 4em;
	align-items: center;
	padding: 2em;
	// margin-bottom: auto;
}

.top {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	// justify-content: center;
}
.centered {
	margin: 3em auto;
}
.buttons {
	padding: 0.2em 1.5em;
	background-color: $hoopers-yellow;
	color: black;
	width: fit-content;
	font-size: 1.5em;

	&:hover {
		background-color: $hoopers-black;
		color: $hoopers-yellow;
		transition: all 1s;
	}
}
.buttons-black {
	padding: 0.2em 1.5em;

	width: fit-content;
	background-color: $hoopers-black;
	color: $dark-orange;
	font-size: 1.5em;
	&:hover {
		background-color: $dark-orange;
		color: black;
	}
}
.search {
	position: fixed;
	width: fit-content;
	right: 4rem;
	bottom: 4rem;
	img {
		width: 4rem;
	}
}
.headline {
	font-size: 5em;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: auto;
	color: $white;
	span {
		font-family: $aktiv-grotesk-light;
	}
}

section {
	min-height: 100vh;
}
.title {
	display: flex;
	flex-direction: row;
	&-section {
		font-size: 4rem;
		display: flex;
		justify-content: space-around;
		width: 100%;
		color: $dark-orange;
	}
}
.content {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 4em;
	flex: 1;

	&-left {
		display: flex;
		flex: 0.5;
		img {
			width: 100%;
		}
	}
	&-right {
		display: flex;
		flex-direction: column;
		flex: 0.5;
		color: $white;
		gap: 1em;
		.title {
			color: $dark-orange;
			font-size: 2em;
			font-family: $aktiv-grotesk-medium;
			font-stretch: 120%;
		}
		.price {
			font-size: 2em;
		}
		.text {
			color: $white;
			font-family: $aktiv-grotesk-light;
		}
	}
}

.line {
	width: 60%;
}

.menu {
	transition: transform 0.2s;
	&:hover {
		transform: scale(1.1);
	}
}

.form-search {
	background-color: black;
	height: 3em;

	display: flex;
	flex: 1;
	padding: 0.5em;
	input {
		font-size: 1em;
		display: flex;
		align-items: center;
		width: 4ch;
		height: 100%;
		background: url('/assets/Homepage/lupa.svg');
		background-repeat: no-repeat;
		background-color: $white;
		flex: 1;
		padding: 0;
		margin: 0;
		// transform: translateX(300%);
		transition: all 0.4s ease-in-out;
		background-color: transparent;
		background-position: 50% 50%;

		// &:hover {
		// 	width: 40ch;
		// 	background-color: white;
		// }
		&:focus {
			width: 45ch;
			background-color: white;
			transform: translateX(0);
			background-position: 101% 50%;
		}
		&::placeholder {
			color: grey;
			display: flex;
			width: 100%;
			border-color: transparent;
			padding: 0;
			margin: 0;
		}
	}
}
